@charset "utf-8";
/* CSS Document */

/*CSS Reset*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}
table{ border-collapse: collapse; border-spacing: 0;}
td,th,caption{ font-weight: normal; text-align: left;}
img, fieldset{ border: 0;}
ol{ padding-left: 1.4em; list-style: decimal;}
ul{ padding-left: 1.4em; list-style: square;}
q:before, q:after{ content:"";}
a{	text-decoration:none; color:#fff;}




/*Slider*/

.mySlides {
	display: none;
	position:absolute;
	top:0;
	z-index:-10;
	width:100%;
}

.mySlides img {
	vertical-align: middle;
	height:650px;
	opacity:0.8;
}

.slideshow-container {
  width: 100%;
  height: auto;
  margin: auto;
  top:0;
  z-index:-1000;
  clear:both;
  height:650px;
}

.slideshow-container:after{
	clear:both;
	content:"";
	display:table;
}

.logo{
	width:180px;
	margin:20px;
}

.topnav{
	display:flex;
	background-color: rgba(250, 250, 250, 0.5);
	width:100%;
}

.menu{
	font-size:20px;
	float:right;
	overflow:hidden;
	width:80%;
}

.menu ul{
	display:inline-flex;
	list-style:none;
}

.menu ul li{
	margin-left:19px;
	margin-top:52px;
	color:#94c149;
	font-size:19px;
	font-weight:bold;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.menu ul li a{
	color:#94C149;
}

.menu i{
	display:none;
	color:#94c149;
}

.intro{
	background-color:#94c140;
}

.intro h1{
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#ffffff;
	padding-top:25px;
}

.intro img{
	width:70px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	display:block;
}

.intro h2{
	color:#ffffff;
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
}

.divprin{
	width:100%;
	display:block; 
	height:470px;
	margin-bottom:80px;
}

.divsec{
	width:33%;
	float:left;
}

.neighborhoods{
	width:300px; 
	height:180px;
	margin:25px auto 0px auto;
	
}

.img{
	width:300px; 
	height:180px;

}

.hover{
	width:300px;
	height:180px;

}

.imghover{
	width:300px;
	height:180px;
	background-color:transparent;
	position:relative;
	top:-184px;

}

.imghover:hover{
	background-color:rgba(148,193,64,0.5);

}


.txt{
	position:relative;
	text-align:center;
	top:65px;
	z-index:5000;
	color:#ffffff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:45px;
	font-weight:bold;
	text-shadow:3px 3px 3px #000000;
}

.titulo{
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#94c140;
	padding-top:25px;
}

.buildingsprin{
	width:100%;
	display:inline-flex;
	margin-top:80px;
	margin-bottom:80px;
}

.buildingssec{
	width:50%;
	display:block;
}

.buildingssec h2{
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:25px;
	font-weight:bold;
	color:#94c140;
	padding-top:25px;
}

.buildingssec h3{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#94c140;
	padding-top:25px;
	margin-left:10%;
}

.buildingssec ul{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#000000;
	padding-top:25px;
	margin-left:15%;
	margin-right:15%;
}

.buildingssec img{
	width:80%;
	height:400px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}

/*Slideshow 1*/

/* Slideshow container */
.slideshow-container3 {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 25px;
  color:#999;
  font-weight:bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: #94c140;
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-left:10%;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top:20px;
}

.active2, .dot2:hover {
  background-color: #94c140;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

/*Fin Slideshow 1*/

/*Slideshow 2*/

/* Slideshow container */
.slideshow-container4 {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides3 {
  display: none;
}

/* Next & previous buttons */
.prev3, .next3 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 25px;
  color:#999;
  font-weight:bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover, .next3:hover {
  background-color: #94c140;
}

/* Number text (1/3 etc) */
.numbertext3 {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-left:10%;
}

/* The dots/bullets/indicators */
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top:20px;
}

.active3, .dot3:hover {
  background-color: #94c140;
}

/* Fading animation */
.fade3 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade3 {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade3 {
  from {opacity: .4}
  to {opacity: 1}
}

/*Fin Slideshow 2*/

.backformulario{
	background-color: #343434;
	height:400px;
	width:100%;
}

.divprin2{
	width:100%;
	display:block; 
	height:325px;
}

.divpartners{
	width:50%;
	float:left;
}

.imgpartners{
	width:100%; 
	height:300px;
	padding-top:25px;
}