@charset "utf-8";
/* CSS Document */

/*CSS Reset*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}
table{ border-collapse: collapse; border-spacing: 0;}
td,th,caption{ font-weight: normal; text-align: left;}
img, fieldset{ border: 0;}
ol{ padding-left: 1.4em; list-style: decimal;}
ul{ padding-left: 1.4em; list-style: square;}
q:before, q:after{ content:"";}
a{	text-decoration:none; color:#fff;}




/*Slider*/

.mySlides {
	display: none;
	position:absolute;
	top:0;
	z-index:-10;
	width:100%;
}

.mySlides img {
	vertical-align: middle;
	height:650px;
	opacity:0.8;
}

.slideshow-container {
  width: 100%;
  height: auto;
  margin: auto;
  top:0;
  z-index:-1000;
  clear:both;
  height:650px;
}

.slideshow-container:after{
	clear:both;
	content:"";
	display:table;
}

.logo{
	width:180px;
	margin:20px;
}

.topnav{
	display:flex;
	background-color: rgba(250, 250, 250, 0.5);
	width:100%;
}

.menu{
	font-size:20px;
	float:right;
	overflow:hidden;
	width:80%;
}

.menu ul{
	display:inline-flex;
}

.menu ul li{
	margin-left:19px;
	margin-top:52px;
	color:#94c149;
	font-size:19px;
	font-weight:bold;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.menu ul li a{
	color:#94C149;
}

.menu i{
	display:none;
	color:#94c149;
}

ul{list-style:none;
}

.intro{
	background-color:#94c140;
}

.intro h1{
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#ffffff;
	padding-top:25px;
}

.intro img{
	width:70px;
	margin-left:45%;
	margin-right:45%;
	margin-top:30px;
}

.intro h2{
	color:#ffffff;
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
}

.divprin{
	width:100%;
	display:block; 
	height:470px;
}

.divsec{
	width:33%;
	float:left;
}

.neighborhoods{
	width:300px; 
	height:180px;
	margin:25px auto 0px auto;
	
}

.img{
	width:300px; 
	height:180px;

}

.hover{
	width:300px;
	height:180px;

}

.imghover{
	width:300px;
	height:180px;
	background-color:transparent;
	position:relative;
	top:-184px;

}

.imghover:hover{
	background-color:rgba(148,193,64,0.5);

}


.txt{
	position:relative;
	text-align:center;
	top:65px;
	z-index:5000;
	color:#ffffff;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:45px;
	font-weight:bold;
	text-shadow:3px 3px 3px #000000;
}

.titulo{
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#94c140;
	padding-top:25px;
}

.video{
	width:63%;
	height:auto;
	margin-left:18%;
	margin-top:25px;
}

.backformulario{
	background-color: #343434;
	height:400px;
	width:100%;
}

.divprin2{
	width:100%;
	display:block; 
	height:325px;
}

.divpartners{
	width:50%;
	float:left;
}

.imgpartners{
	width:100%; 
	height:300px;
	padding-top:25px;
}